.review-container {
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 15px gray;
    padding: 50px;
    width: 400px;
}
.review-container img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    
}

.review-container p {
    font-size: 18px;
    font-style: italic;
}